USE [QLLD]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [bigint] NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Sex] [nvarchar](5) NULL,
	[Picture] [ntext] NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALENDAR]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDAR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionOfDay] [nvarchar](10) NULL,
	[Weekdays] [nvarchar](20) NULL,
	[Day] [date] NULL,
 CONSTRAINT [PK_LICHLAODONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClassCode] [varchar](20) NOT NULL,
	[CLassName] [nvarchar](50) NULL,
	[Training] [nvarchar](20) NULL,
	[TypeOfEducation] [nvarchar](20) NULL,
	[Total] [int] NULL,
	[TotalOfWork] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[FacultyID] [bigint] NOT NULL,
 CONSTRAINT [PK_LOP_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Job] [nvarchar](100) NULL,
	[Description] [ntext] NULL,
	[Locate] [nvarchar](50) NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENUS]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUS](
	[ID_MN] [bigint] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](100) NULL,
	[Parent] [bigint] NULL,
	[UrlLink] [varchar](200) NULL,
	[OrderKey] [bigint] NULL,
	[UserAdd] [bigint] NULL,
	[Hide] [bit] NULL,
 CONSTRAINT [PK_DANHMUC] PRIMARY KEY CLUSTERED 
(
	[ID_MN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTER]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkTickerID] [bigint] NOT NULL,
	[AccountID] [bigint] NOT NULL,
	[Present] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIEMDANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MSSV] [varchar](20) NOT NULL,
	[NumberOfWork] [int] NULL,
	[ClassID] [bigint] NOT NULL,
	[AccountID] [bigint] NOT NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_SINHVIEN_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOOL]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tool] [nvarchar](50) NULL,
	[Sum] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[Available] [int] NULL,
	[Lock] [bit] NULL,
 CONSTRAINT [PK_DUNGCULAODONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOOLTICKER]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOLTICKER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ToolID] [bigint] NOT NULL,
	[WorkTickerID] [bigint] NOT NULL,
	[Amount] [int] NULL,
	[Notes] [ntext] NULL,
 CONSTRAINT [PK_PHIEUDUNGCU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTICKER]    Script Date: 3/8/2022 2:12:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTICKER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CalendarID] [bigint] NOT NULL,
	[JobID] [bigint] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEULAODONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_FACULTY] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[FACULTY] ([ID])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_FACULTY]
GO
ALTER TABLE [dbo].[MENUS]  WITH CHECK ADD  CONSTRAINT [FK_DANHMUC_TAIKHOAN] FOREIGN KEY([UserAdd])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[MENUS] CHECK CONSTRAINT [FK_DANHMUC_TAIKHOAN]
GO
ALTER TABLE [dbo].[MUSTER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTER_ACCOUNT] FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[MUSTER] CHECK CONSTRAINT [FK_MUSTER_ACCOUNT]
GO
ALTER TABLE [dbo].[MUSTER]  WITH CHECK ADD  CONSTRAINT [FK_MUSTER_WORKTICKER] FOREIGN KEY([WorkTickerID])
REFERENCES [dbo].[WORKTICKER] ([ID])
GO
ALTER TABLE [dbo].[MUSTER] CHECK CONSTRAINT [FK_MUSTER_WORKTICKER]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([ClassID])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_TAIKHOAN] FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_SINHVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[TOOLTICKER]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDUNGCU_DUNGCULAODONG] FOREIGN KEY([ToolID])
REFERENCES [dbo].[TOOL] ([ID])
GO
ALTER TABLE [dbo].[TOOLTICKER] CHECK CONSTRAINT [FK_PHIEUDUNGCU_DUNGCULAODONG]
GO
ALTER TABLE [dbo].[TOOLTICKER]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDUNGCU_PHIEULAODONG] FOREIGN KEY([WorkTickerID])
REFERENCES [dbo].[WORKTICKER] ([ID])
GO
ALTER TABLE [dbo].[TOOLTICKER] CHECK CONSTRAINT [FK_PHIEUDUNGCU_PHIEULAODONG]
GO
ALTER TABLE [dbo].[WORKTICKER]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULAODONG_CONGVIEC] FOREIGN KEY([JobID])
REFERENCES [dbo].[JOB] ([ID])
GO
ALTER TABLE [dbo].[WORKTICKER] CHECK CONSTRAINT [FK_PHIEULAODONG_CONGVIEC]
GO
ALTER TABLE [dbo].[WORKTICKER]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULAODONG_LICHLAODONG] FOREIGN KEY([CalendarID])
REFERENCES [dbo].[CALENDAR] ([ID])
GO
ALTER TABLE [dbo].[WORKTICKER] CHECK CONSTRAINT [FK_PHIEULAODONG_LICHLAODONG]
GO
