@model QL_LaoDong.Models.Job

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Tên công việc</label>
                    <input asp-for="JobName" class="form-control" required />
                    <span asp-validation-for="JobName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Vị trí</label>
                    <input asp-for="Locate" class="form-control" required />
                    <span asp-validation-for="Locate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Số ngày thụ hưởng</label>
                    <input asp-for="BenefitOfDay" class="form-control" type="number" min="0" />
                    <span asp-validation-for="BenefitOfDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mô tả công việc</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
