@model QL_LaoDong.Models.Class

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mã lớp</label>
                        <input asp-for="ClassCode" class="form-control" required />
                        <span asp-validation-for="ClassCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên lớp</label>
                        <input asp-for="ClassName" class="form-control" required />
                        <span asp-validation-for="ClassName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Khóa đào tạo</label>
                        <input asp-for="Training" class="form-control" required />
                        <span asp-validation-for="Training" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Loại hình đào tạo</label>
                        <select asp-for="TypeOfEducation" class="form-control">
                            <option value="Đại học">Đại học chính quy</option>
                            <option value="Cao đẳng">Cao đẳng chính quy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Sỉ số lớp</label>
                        <input asp-for="Total" class="form-control" type="number" min="0" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Số ngày lao động</label>
                        <input asp-for="TotalOfWork" class="form-control" type="number" min="0" />
                        <span asp-validation-for="TotalOfWork" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select asp-for="Status" class="form-control">
                            <option value="3">---Chọn trạng thái----</option>
                            <option value="2">Đã hoàn thành</option>
                            <option value="1">Chưa hoàn thành</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Khoa</label>
                        <select asp-for="FacultyId" class="form-control" asp-items="@ViewBag.FacultyId"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
