@model QL_LaoDong.Models.Workticker
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<<<<<<< HEAD
            <label class="control-label">Hình thức đăng ký</label>
            <div class="row justify-content-around">                
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RegistrationForm" class="form-check-input" type="radio" id="exampleRadios1" value="Cá nhân" checked>Cá nhân
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RegistrationForm" class="form-check-input" type="radio" id="exampleRadios1" value="Lớp">Lớp
                    </div>
=======
            <div class=" row">
                @*<div class="form-group">
                    <label class="control-label">Hình thức đăng ký</label>
                    <select asp-for="RegistrationForm" class="form-control">
                        <option value="Cá nhân">Cá nhân</option>
                        <option value="Lớp">Lớp</option>
                    </select>
                </div>*@
                <div class="form-check">
                    <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="Cá nhân" checked>
                    <label class="form-check-label" for="exampleRadios1" asp-for="RegistrationForm">
                        Cá nhân
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"  type="radio" name="exampleRadios" id="exampleRadios1" value="Lớp" checked>
                    <label class="form-check-label" for="exampleRadios1" asp-for="RegistrationForm">
                        Lớp
                    </label>
>>>>>>> fc3483f809a0d3e97738bad724a46cf2151590c7
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

