@model QL_LaoDong.Models.Workticker
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Thời gian lao động</label>                        
                        <input asp-for="CalendarId" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hình thức đăng ký</label>
                        <select asp-for="RegistrationForm" class="form-control">
                            <option value="Cá nhân">Cá nhân</option>
                            <option value="Lớp">Lớp</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

