@model QL_LaoDong.Models.Muster
@{
    ViewData["Title"] = "CreateMuster";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGroups" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Sinh Viên</label>
                    <select asp-for="StudentId" class="form-control" asp-items="@ViewBag.stu"></select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
