@model IEnumerable<QL_LaoDong.Models.Muster>

@{
    ViewData["Title"] = "PageMuster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Lao động</a></li>
                        <li class="breadcrumb-item active">Nhóm lao động</li>
                    </ol>
                </div>
                <h4 class="page-title">DANH SÁCH SINH VIÊN THUỘC "NHÓM @ViewBag.grname"</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <div class="d-flex justify-content-lg-between">
                    <div class="btn-addoredit">
                        <a href="/Groups/PageGroups/@ViewBag.caid"><i class="far fa-arrow-alt-circle-left"></i> Trở lại</a>
                    </div>
                    <div class="btn-addoredit">
                        <a onclick="showInPopup('@Url.Action("AddStudent","Calendar", new {id=ViewBag.caid, ids = ViewBag.groupID} ,Context.Request.Scheme)', 'THÊM SINH VIÊN VÀO NHÓM')" class="btn btn-success text-white btn-sm"><i class="typcn typcn-user-add"></i> Thêm sinh viên vào nhóm</a>
                    </div>
                </div>
                
                <br />
                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                MSSV
                            </th>
                            <th>
                                Điểm danh
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <div class="checkbox checkbox-primary checkbox-single mr-3 ml-1">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1"></label>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student.Mssv)
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@item.StudentId" onsubmit="return JQueryAjaxDelete(this);" class="d-inline">
                                    <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Xóa sinh viên khỏi nhóm"><i class="typcn typcn-user-delete"></i></button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    console.log(window.location.pathname.valueOf())
</script>