@model QL_LaoDong.Models.Menus

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.IdMn" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tiêu đề</label>
                        <input asp-for="Label" class="form-control" />
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Danh mục cha</label>
                        <select asp-for="Parent" class="form-control" asp-items="@ViewBag.parent">
                            <option value="0">---Chọn danh mục cha---</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Đường dẫn</label>
                        <input asp-for="UrlLink" class="form-control" />
                        <span asp-validation-for="UrlLink" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Thứ tự danh mục</label>
                        <input asp-for="OrderKey" class="form-control" />
                        <span asp-validation-for="OrderKey" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select asp-for="Hide" class="form-control">
                            <option>---Vui lòng chọn----</option>
                            <option value="True">Ẩn</option>
                            <option value="False">Hiện</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
