@model QL_LaoDong.Models.Student

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return JQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mã số sinh viên</label>
                        <input asp-for="Mssv" class="form-control"  required/>
                        <span asp-validation-for="Mssv" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Số ngày lao động</label>
                        <input asp-for="NumberOfWork" class="form-control" type="number" min="0" />
                        <span asp-validation-for="NumberOfWork" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Họ Tên</label>
                        <select asp-for="AccountId" class="form-control" asp-items="@ViewBag.acc">
                            <option value="">------Họ tên------</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên lớp</label>
                        <select asp-for="ClassId" class="form-control" asp-items="@ViewBag.cla"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

