<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hệ thống quản lý lao động DThU</title>
    <link rel="shortcut icon" href="~/assets/images/logokonen.ico">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <!-- Table datatable css -->
    <link href="~/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/scroller.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/dataTables.colVis.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list ">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/assets/images/hacker.png" alt="user-image" class="rounded-circle">
                        <span class="d-none d-sm-inline-block ml-1">@ViewBag.usename</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Xin chào !</h6>
                        </div>

                        <!-- item-->
                        <a asp-area="" asp-controller="Accounts" asp-action="Details" class="dropdown-item notify-item">
                            <i class="fas fa-user"></i>
                            <span>Thông tin cá nhân</span>
                        </a>
                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a asp-area="" asp-controller="Accounts" asp-action="LogOut" class="dropdown-item notify-item">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Đăng xuất</span>                           
                        </a>
                    </div>
                </li>
            </ul>
            <!-- LOGO -->
            <div class="logo-box">
                <a href="index.html" class="logo text-center">
                    <span class="logo-lg">
                        <img src="~/assets/images/logo.png" alt="" height="50">
                    </span>
                    <span class="logo-sm">
                        <img src="~/assets/images/logo.png" alt="" height="25">
                    </span>
                </a>
            </div>
            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect">
                        <i class="fas fa-bars"></i>
                    </button>
                </li>
                <li class="d-none d-sm-block">
                    <form class="app-search">
                        <div class="app-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="left-side-menu">
            <div class="slimscroll-menu">
                <div id="sidebar-menu">
                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title">User</li>

                        <li>
                            <a href="https://localhost:44379/Home/Index" class="waves-effect waves-light">
                                <i class="fas fa-home"></i>
                                <span>  Trang chủ  </span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="far fa-calendar-plus"></i>
                                <span> Lao động </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">

                                <li><a href="https://localhost:44379/workticker/Calendarpage">Lịch lao động</a></li>
                                <li><a href="https://localhost:44379/Registration/Index">Đăng ký lao động</a></li>
                                <li><a href="#">Điểm danh</a></li>
                            </ul>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fas fa-user-edit"></i>
                                <span>  Thông tin </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="admin-sweet-alert2.html">Thông tin cá nhân</a></li>
                                <li><a href="admin-widgets.html">Thông tin lớp</a></li>
                            </ul>
                        </li>

                        <li class="menu-title mt-2">Admin</li>
                        <li>
                            <a href="https://localhost:44379/menus/Index" class="waves-effect waves-light">
                                <i class="fas fa-list"></i>
                                <span>  Quản lý danh mục  </span>
                            </a>
                        </li>
                        <li>

                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="mdi mdi-flip-horizontal"></i>
                                <span>  Quản lý chung  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="https://localhost:44379/class/Index">Lớp sinh viên</a></li>
                                <li><a href="https://localhost:44379/Accounts/Index">Tài khoản sinh viên</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="mdi mdi-comment-text-outline"></i>
                                <span>  Lao động  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="https://localhost:44379/workticker/Index">Quản lý đăng ký</a></li>
                                <li><a href="https://localhost:44379/calendar/Index">Quản lý thời gian đăng ký</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fas fa-clipboard-list"></i>
                                <span>  Danh mục </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="https://localhost:44379/job/Index">Công việc</a></li>
                                <li><a href="https://localhost:44379/tool/Index">Dụng cụ lao động</a></li>
                            </ul>
                        </li>
                    </ul>
                    @*<ul class="metismenu" id="side-menu">
                        <li>
                            <a href="https://localhost:44379/Home/Index" class="waves-effect waves-light">
                                <i class="fas fa-home"></i>
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/workticker/Calendarpage" class="waves-effect waves-light">
                                <i class="fas fa-calendar-alt"></i>
                                <span>Lịch lao động</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/Registration/Index" class="waves-effect waves-light">
                                <i class="far fa-calendar-plus"></i>
                                <span>Đăng ký lao động</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html" class="waves-effect waves-light">
                                <i class="fas fa-user-check"></i>
                                <span>Điểm danh</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/student/index" class="waves-effect waves-light">
                                <i class="fas fa-users"></i>
                                <span>Thông tin lớp sinh viên</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/Accounts/Index" class="waves-effect waves-light">
                                <i class="fas fa-user-edit"></i>
                                <span>Quản lý tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/class/Index" class="waves-effect waves-light">
                                <i class="fas fa-users"></i>
                                <span>Quản lý lớp sinh viên</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/workticker/Index" class="waves-effect waves-light">
                                <i class="fas fa-calendar-check"></i>
                                <span>Quản lý đăng ký</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/calendar/Index" class="waves-effect waves-light">
                                <i class="fas fa-clock"></i>
                                <span>Quản lý thời gian đăng ký</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/job/Index" class="waves-effect waves-light">
                                <i class="fas fa-clipboard-list"></i>
                                <span>Danh mục công việc</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/tool/Index" class="waves-effect waves-light">
                                <i class="fas fa-broom"></i>
                                <span>Danh mục dụng cụ</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://localhost:44379/menus/Index" class="waves-effect waves-light">
                                <i class="fas fa-list"></i>
                                <span>Quản lý danh mục</span>
                            </a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
                @RenderBody()
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            @DateTime.Now.Year &copy; by Hong Ngoc - Thanh Duy <a href="#">Hệ thống quản lý lao động DThU</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/libs/raphael/raphael.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--<!-- Datatable plugin js -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Datatable plugin js -->
    <script src="~/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables/responsive.bootstrap4.min.js"></script>

    <script src="~/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.bootstrap4.min.js"></script>

    <script src="~/assets/libs/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables/buttons.print.min.js"></script>

    <script src="~/assets/libs/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.scroller.min.js"></script>
    <script src="~/lib/FixedColumns-4.0.2/js/dataTables.fixedColumns.min.js"></script>

    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/vfs_fonts.js"></script>-->

    <!-- Datatables init -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


