@model QL_LaoDong.Models.Account

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return JQueryAjaxPost(this);" enctype="multipart/form-data" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên tài khoản</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mật khẩu</label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Quyền</label>
                        <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.roles">
                            c
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Họ tên đầy đủ</label>
                        <input asp-for="Fullname" class="form-control" />
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Ngày sinh</label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Giới tính</label>
                        <select asp-for="Sex" class="form-control">
                            <option>---Chọn giới tính----</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Hình ảnh</label>
                        <br />
                        <input asp-for="ImageFile" accept="Image/*" type="file" onchange="previewFile(this)" onclick="changeImage()"/>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="preview">
<<<<<<< HEAD
                        <img src="@("~/Image"+Model.Picture)" asp-append-version="true" id="myImage" width="100px" height="100px" />
=======
                        <img src="@("~/image/"+Model.Picture)" asp-append-version="true" id="myImage" width="50" height="50" />
>>>>>>> 70c5c9196fc1d433e1422ff863c1c67cc53172ad
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                <input type="submit" value="Lưu" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

