
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href="~/css/StyleLogin.css" rel="stylesheet" />
<div class="wrapper">
    <div class="logo"> <img src="~/assets/images/logo.png" alt=""> </div>
    <br />
    <br />
    <form class="p-3 mt-3" asp-action="Login" method="post">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="username" placeholder="Tên tài khoản..."> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="password" placeholder="Mật khẩu..."> </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe"> Ghi nhớ đăng nhập</label>
            </label>
        </div>
        <button type="submit" class="btn mt-3">Đăng nhập</button>
    </form>
</div>

<script>
    const rmCheck = document.getElementById("rememberMe"),
        emailInput = document.getElementById("username");

    if (localStorage.checkbox && localStorage.checkbox !== "") {
        rmCheck.setAttribute("checked", "checked");
        emailInput.value = localStorage.username;
    } else {
        rmCheck.removeAttribute("checked");
        emailInput.value = "";
    }

    function lsRememberMe() {
        if (rmCheck.checked && emailInput.value !== "") {
            localStorage.username = emailInput.value;
            localStorage.checkbox = rmCheck.value;
        } else {
            localStorage.username = "";
            localStorage.checkbox = "";
        }
    }
</script>




